
:root{
    --hover-blue:#2b518b;
   --blue: #375E97; 
   --white: rgb(230, 228, 228);
   --hover-white:rgb(230, 228, 228);
   --grey: grey;
   --font-family-header: 'Playfair Display', serif;
   --font-family-body: font-family: 'Montserrat', sans-serif;
   --hover-grey:rgb(92, 91, 91);
}



*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Montserrat', sans-serif;
    font-size:.938rem;
    background-color: var(rgb(230, 228, 228));
    color: var(--grey);
    margin: 0 0 3rem 0;
}

body.dark-theme{
    background-color: black; 
    color: white ;
    --blue:white;
    --grey: rgb(71, 71, 71);
    --hover-blue:rgb(71, 71, 71);
    --white:black;
    --hover-grey:rgb(190, 188, 188);
    --hover-white:rgb(12, 12, 12);
}

h1,h2,h3,h4{
    color: var(--blue); 
    font-weight: 600;
    font-family: var(--font-family-header);
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
    height: auto;
}



/* =================        re-useable css classes    ====================== */
.section{
    padding: 2rem 0 4rem;
}

.section__title{
    font-size: 1.5rem;
}

.section__subtitle{
    display: block;
    margin-bottom: 3rem; 
    font-size:.813rem ;
}


.section__subtitle, .section__title{
    text-align: center;
}

.container{
    margin:0 1.5rem ;
    max-width:768px ;
}

.grid{
    display: grid;
    gap: 1.5rem;
}

/* ===================       HEADER     ================ */
.header{
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 100;
    background-color:var(--blue);
    box-shadow: 0px 0px 8px 0px var(--blue);
    
}


/* ===================       NAVIGATION     ================ */
.nav__btns{
    display: flex;
    align-items: center;
    
}

.change-theme{
    font-size: 1.25rem;
    color: var(--white);                                                                  
    margin-right: 1rem;
    cursor: pointer;
    transition: .5s;
}

.change-theme:hover{
    color:var(--grey) ;                                                                    
}

/* SOCIAL ICONS */

.uil-linkedin{
    color:var(--blue);
}


.uil-linkedin:hover{
    color:#2867B2;
}

.uil-whatsapp{
    color: var(--blue);
}

.uil-whatsapp:hover{
    color: #075e54;
}

.uil-github-alt{
    color:var(--blue);
}
.uil-github-alt:hover{
    color:#171515;
}

.nav{
    max-width:968px;
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo, .nav__toggle{
    color:var(--white); 
    font-weight: 500;
    font-size: 1.5rem;
    font-style: italic;
    font-family: var(--font-family-header);   
}

.nav__logo:hover, .nav__toggle:hover{
    color: var(--grey);                               
    transition: 1s;
    
}

.nav__toggle{
    font-size: 1.1rem;
    cursor: pointer;
}

.nav__link{
    color: var(--white);
}

.nav__link:hover{
    color:var(--grey); 
    transition: 1s;                        
}

@media screen and (max-width:767px) {
    .nav__menu{
        position: fixed;
        bottom: -100%;
        left: 0;
        width: 100%;
        background-color: var(--blue);                                                        
        padding: 2rem 1.5rem 4rem;
        box-shadow: 0 -1px 4px var(--grey);
        transition: .3s;
        font-family: var(--font-family-body) ;
    }

    .nav__list{
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;

    }

    .nav__link{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size:.813rem;
    color: var(--white);    
    font-weight: 500;

    }

    .nav__link:hover{
        color:var(--grey);                         
    }

    .nav__icon{
        font-size: 1.2rem ;
        padding-right: 5px;
    }

    .nav__close{
        position: absolute;
        right: 1.3rem;
        bottom: .5rem;
        font-size: 1.5rem;
        cursor: pointer;
        color: black;
    }

    .nav__close:hover{
        color: var(--grey);                                                       
    }



}


/* JS CLASSES*/
.show-menu{
    bottom: 0;
}

.active-modal{
    opacity: 1;
    visibility: visible;
}

.active-link{
    color: var(--grey);                                                             
}

.scroll-header{
    box-shadow: 0 -1px 4px var(--grey);
}

/* =====   HOME-PAGE   ====== */
.home__container{
    gap: 1rem;
}

.home__content{
    grid-template-columns: .5fr 3fr;
    padding-top: 3.5rem;
    align-items: center;
}

.home__social{
    display: grid;
    grid-template-columns: max-content;
    row-gap: 1rem;
}

.home__social-icon{
    font-size:1.25rem;
}

.home__social-icon:hover{
    transform: translateY(.2rem);
}

.home__blob-img{
    width: 230px; 
    border-radius: 50%;
}

.home__data{
    grid-column: 1/3;
}

.home__title{
    font-size: 2rem;
}

.home__subtitle{
    font-size: 1.25rem;
    color:var(--hover-grey) ;                                                    
    font-weight: 500;
    margin-bottom: .75rem;
    
}

.home__description{
    margin-bottom: 2rem;
}

.home__scroll{
     display: none;
}

.home__scroll-button{
    color:var(--white) ;                                                 
    transition: .3s;
}

.home__scroll-button:hover{
    transform: translateY(.25rem);
}

.home__scrol-mouse{
    font-size: 2rem;
}

.home__scroll-name,
.home__scroll-arrow,
.home__scroll-mouse{
    color: var(--blue);                                                  
    font-weight: 500 ;
    margin-right:.25rem ;
}

.home__scroll-arrow,
.home__scroll-mouse{
    font-size: 1.25rem;
}

.home__scroll-name{
    font: .813rem; 
}

/* ========     buttons      ==========*/


.button{
    display: inline-block;
    background-color:var(--blue); 
    color: var(--white);
    padding: 1rem;
    border-radius: .5rem;
    font-weight: 500 ;
}

.button--flex{
    display: inline-flex;
    align-items: center;
}

.button:hover{
    background-color: var(--hover-blue);
    transition: 1s; 
}

.button__icon{
    font-size: 1.25rem;
    margin-left: .5rem;
    transition: .3s;
}

.button--flex{
    display: inline-flex;
    align-items: center;
}

.button--small{
    padding: .75rem 1rem;
}

.button--link{
    cursor: pointer;
    padding: 0;
    background-color: transparent;
    color:var(--grey);  
}

.button--link:hover{
    background-color: transparent;
    color: var(--hover-blue)  ;
}

.button--white{
    background-color: var(--white);
    color:var(--blue) ;
}

.button--white:hover{
    background-color:var(--white)  ;
}

/* ================        ABOUT      ================== */
.about__img{
    width: 200px;
    border-radius: .5rem;
    justify-self: center;
    align-self: center;
    height: 100%;
}

.about__description{
    text-align: center;
    margin-bottom:2.5rem ;
}

.about__info{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 2.5rem;
}

.about__info-title{
    font-size:1.25rem;
    font-weight:600;
    color: var(--blue) ;

}

.about__info-name{
    font-size:.813rem;
}

.about__info-title,
.about__info-name{
    display: block;
    text-align: center;
}

.about__buttons{
    display: flex;
    justify-content: center;
}

/* =================   SKILLS       =============== */

.skills__content{
    row-gap: 0;
}

.skills__header{
    display: flex;
    align-items: center;
    margin-bottom: 2.5rem;
    cursor: pointer;
}

.skills__icon,.skills__arrow{
    font-size: 2rem;
    color: var(--blue); 
    
}

.skills__icon{
    margin-right: .75rem;
}

.skills__subtitle{
    font-size: .875rem;
    color:var(--grey) ;
}

.skills__title{
    font-size:1.125rem;
}

.skills__arrow{
    margin-left: auto;
    transition: .4s;
}

 .skills__titles{
     display: flex;
     justify-content: space-between;
     margin-bottom: .5rem;
 }

 .skills__name{
     font-size:.938rem ;
     font-weight: 500;
 }

 .skills__logo{
     width: 15%;
 }

 .skills__bar, .skills__percentage{
     height: 5px;
     border-radius: .25rem;
 }

 .skills__list{
     row-gap: 1.5rem;
     padding-left: 2.7rem;

 }

 .skills__bar{
     background-color: var(--grey) ;
 }

 .skills__percentage{
     display: block;
     background-color: var(--blue);
 }

 .skills__html{
     width: 95%;
 }

 .skills__css{
     width: 80%;
 }

 .skills__mssql{
     width: 60%;
 }

 .skills__js{
     width: 50%;
 }

 .skills__react, .skills__php, .skills__node_js, .skills__phyton{
     width: 20%;
 }

  .skills__close .skills__list{
      height: 0;
      overflow: hidden;
  }

  .skills__open .skills__list{
      height: max-content;
      margin-bottom: 2.5rem;
  }

  .skills__open .skills__arrow{
      transform: rotate(-180deg);
  }

  .skills__container{
      padding-left: 250px;
  }

  /* ==========     QUALIFICATION      ============= */
  .qualification__tabs{
      display: flex;
      justify-content: space-evenly;
      margin-bottom: 2rem;
  }

  .qualification__button{
      font-size: 1.25rem;
      font-weight: 500;
      cursor: pointer;
  }

  .qualification__button:hover{
      /* color: red; */
  }

  .qualification__icon{
      font-size: 1.8rem;
      margin-right: .25rem;
  }

  .qualification__data{
      display: grid;
      grid-template-columns:1fr max-content 1fr;
      column-gap:1.5rem;
  }

  .qualification__title{
      font-size: .938rem;
      font-weight: 500;
  }

  .qualification__subtitle{
      display: inline-block;
      font-size:.813rem;
      margin-bottom: 1rem;
  }

  .qualification__calender{
      font-size:.75rem;
      color:var(--grey) ;
  }

  .qualification__rounder{
      display: inline-block;
      width: 13px;
      height: 13px;
      background-color:var(--blue);
      border-radius: 50%;
  }  

  .qualification__line{
    display: block;
    width: 1px;
    height: 100%;
    background-color:var(--blue) ; 
    transform: translate(6px, -7px);
  }

  .qualification [data-content]{
      display: none  ;
  }

  .qualification__active[data-content]{
      display: block;
  }

  .qualification__button{
      color:grey;
  }

  .qualification__button:hover{
      color:var(--blue);
  }
  /* ===================  SERVICES      ===================*/

  .services__container{
      gap:1.5rem;
      grid-template-columns: repeat(2,1fr);
  }

  .services__content{
      position: relative;
      background-color: cream;
      padding: 3.5rem .5rem 1.25rem 1.5rem;
      border-radius: .25rem;
      box-shadow: 0 2px 4px var(--grey);
      transition: .3s;
      border: 1px solid var(--blue);
  }

  .services__content:hover,
  .services__modal-content:hover{
      box-shadow: 0 4px 8px var(--grey);
  }

  .services__icon{
      display: block;
      font-size: 1.5rem;
      color: var(--blue) ;
      margin-bottom: 1rem;
  }

  .services__title{
      font-size: 1.125rem;
      margin-bottom: 1rem;
      font-weight: 500;
  }

  .services__button{
      cursor: pointer;
      font-size: .875rem;
  }

  .services__button:hover .button__icon{
      transform: translateX(.25rem);
      color: var(--blue);
  }

  .services__modal{
      position: absolute;
      top: 0;
      left: 30;
      background-color:white;
      display: flex;
      align-items: center;
      padding: 0 1rem;
      z-index: 1000;
      opacity: 0;
      visibility:hidden ;
      transition: .3s;
      color: var(--hover-blue);
  }

  

  .services__modal-content{
      position: relative;
      background-color: var(--white);
      padding: 1.5rem;
      border-radius: .5rem; 
      border: 2px solid var(--hover-blue);
      box-shadow: -5px -5px 30px 5px var(--blue), 5px 5px 30px 5px var(--blue);
  }

  .services__modal-services{
      row-gap: 1rem;
  }


  .services__modal-service{
      display: flex;
  }

  .services__modal-title{
      font-size: 1.25rem;
      font-weight: 500;
      margin-bottom: 1.5rem;
  }

  .services__modal-close{
      position: absolute;
      top: 1rem;
      right: 1rem;
      font-size: 1.5rem;
      color: var(--blue);
      cursor: pointer;
  }

  .services__modal-icon{
      color: var(--blue);
      margin-right: .25rem;
  }

  /* ===================       portfolio     ================== */

  .wip{
    color: red;
  }

  .portfolio__container{
      overflow: initial;
  }

  .portfolio__content{
      padding: 0 1.5rem;
  }

  .portfolio__img{
      width: 250px;
      border-radius: .5rem;
      justify-self: center;
  }

  .porfolio__title{
      font-size:1.125rem;
      margin-bottom: .5rem;
  }

  .portfolio__description{
      margin-bottom:.75rem ;
  }

  .portfolio__button:hover .button__icon{
        transform:translateX(.25rem) ;
  }


  .swiper-button-next::after,
  .swiper-button-prev::after{
      content: '';
  }

  .swiper-portfolio-icon{
      font-size: 2rem;
      color: var(--blue);
  }

  .swiper-button-prev{
      left: -.5rem;
  }

  .swiper-button-next{
      right: -.5rem;
  }

  .swiper-container-horizontal > .swiper-pagination-bullets{
      bottom: -2.5rem;
  }

  .swiper-button-prev,
  .swiper-button-next{
      outline: none;
  }

   /* .swiper-pagination-bullets:active{
      background-color: var(--blue);
  }  */

  /* ===========      project in mind      ============== */

  .project{
      text-align: center;
  }

  .project__bg{
      /*                                                                   background-color: red; */
      padding-top: 3rem;
      
  }

  .project__title{
      font-size:1.5rem ;
      margin-bottom: .75rem;
  }

  .project__description{
      margin-bottom: 1.5rem;
  }

  .porfolio__title, .project__description{
      color: var(--white);
  }

  .project__img{
      width: 232px;
      justify-self: center;
  }

  /* ============     TESTIMONIAL      ================= */

  .testimonial__data, .testimonial__header{
      display: flex;
  }

  .testimonial__data{
      justify-content: space-between;
      margin-bottom: 1rem;
  }

  .testimonial__img{
      width: 60px;
      height: 60px;
      border-radius: 50%;
      margin-right: .75rem;
  }

  .testimonial__name{
      font-size:1.25rem ;
      font-weight: 500;
  }

  .testimonial__client{
      font-size:.813rem ;
      /*                                                             color: ; */
  }

  .testimonial__description{
      margin-bottom: 2.5rem;
  }

  .testimonial__icon-star{
    /*                                                                            color: ; */
  }

  /* ===========      CONTACT ME       ============= */

  .contact__container{
      row-gap: 3rem;
  }

  .contact__information{
      display: flex;
      margin-bottom: 2rem;
  }

  .contact__icon{
      font-size:2rem ;
      color: var(--hover-grey); 
      margin-right: .75rem;
  }

  .contact__title{
      font-size:1.125rem;
      font-weight: 500;
      color:var(--blue);
  }

  .contact__subtitle{
      font-size: .813rem;
      color:var(--grey);
  }

  .contact__content{
      background-color: whitesmoke ;
      border-radius: .5rem;
      padding: .75rem 1rem .25rem;
  }

  .contact__label{
      font-size:.813rem;
      color:var(--hover-blue);
  }

  .contact__input{
      width: 100%;
      background-color: whitesmoke;
      color:grey ;
      font-family: var(--font-family-body); 
      font-size: .938rem;
      border: none;
      outline: none;

  }

  /* ==========       FOOTER        ============= */

  .footer{
      padding-top: 2rem;
  }

  .footer__container{
      row-gap: 3.5rem;
  }

  .footer__bg{
      background-color:var(--hover-white);
      padding: 2rem 0 3rem;
  }

  .footer__title{
      font-size:1.5rem;
      margin-bottom: .25rem;
  }

  .footer__subtitle{
      font-size:.875rem;
  }

  .footer__links{
      display: flex;
      flex-direction: column;
      row-gap: 1.5rem;
      color: var(--hover-grey);
  }

  .uil-facebook:hover{
      background: #3b5998;
      color:  var(--white);
      border-radius: 50%;
      padding: .2rem;
      transition: 1s;
  }

  .uil-twitter-alt:hover{
      background: #00acee;
      color: var(--white);
      border-radius: 50%;
      padding: .2rem;
      transition: 1s;
  }

  .uil-instagram:hover{
      background: #bc2a8d;
      color: var(--white);
      border-radius: 50%;
      padding: .2rem;
      transition: 1s;
  }
  
  .footer__links:hover{
      color:var(--blue);
  }

  .footer__social{
      font-size: 1.25rem;
      margin-right:1.5rem;
      
  }

  .footer__social:hover{
      color:var(--hover-blue) ;
  }

  .footer__copy{
      font-size:.813rem;
      text-align: center;
      color: var(--blue);
      margin-top: 3rem;
  }

  .footer__title,.footer__subtitle,.footer__link,.footer__social{
    color: var(--blue);
  }


  .show-scroll{
      bottom: 5rem;
  }

  /* ==============    scroll bar      ============ */

  ::webkit-scrollbar{
      width: .60rem;
      background-color:var(--blue) ;
      border-radius: .5rem;
  }

  ::-webkit-scrollbar-thumb{
      background-color: var(--blue);
      border-radius:.5rem ;
  }

  ::-webkit-scrollbar-thumb:hover{
      background-color:var(--blue) ;
  }
  

  /* ==============      MEDIA QUERIES      ============== */

  @media screen and (max-width: 350px) {
      .container{
          margin-left: 1rem;
          margin-right: 1rem;
      }

      .nav__menu{
          padding:2rem .25rem 4rem  ;
      }

      .nav__list{
          column-gap: 0;
      }

      .home__content{
          grid-template-columns: .25fr 3fr;
      }

      .home__blob{
          width: 180px;
      }

      .skills__title{
          font-size: .938rem;
      }

      .qualification__data{
          gap: .5rem;
      }

      .services__container{
          grid-template-columns: max-content;
          justify-content: center;
      }

      .services__content{
          padding-right:3.5rem;
      }

      .services__modal{
          padding: 0 .5rem;
      }

      .project__img{
          width: 200px;
      }

      .testimonial__data,.testimonial__header{
          flex-direction: column;
          align-items: center;
      }

      .testimonial__img{
          margin-right: 0; 
          margin-bottom: .25rem;
      }

      .testimonial__data,.testimonial__description{
          text-align: center;
      }
    
  }

  .scrollup{
      position: fixed;
      right: 1rem;
      bottom: 0;
      background-color: var(--grey);
      opacity: .8;
      padding: 0 .3rem;
      border-radius: .4rem;
      z-index: 10;
      transition: .4s;
  }

  .scrollup:hover{
      background-color: var(--blue);
  }

  .scrollup__icon{
      font-size: 1.5rem;
      color: var(--white);
  }

  /* FOR MEDIUM SCREEN DEVICES */
  @media screen and (max-width:568px){
    .skills__container{
      padding-left: 0px;
      
  }
  }

      @media screen and (min-width:568px){
          .home__content{
              grid-template-columns: max-content 1fr 1fr;
          }

          .home__data{
              grid-column: initial;
          }

          .home__img{
              order: 1;
              justify-self: center;
          }

  


          .about__container,
          .skills__container,
          .portfolio__content,
          .project__container,
          .contact__container,
          .footer__container{
                grid-template-columns:repeat(2, 1fr);
          }

          .qualification__sections{
              display: grid;
              grid-template-columns: .6fr;
              justify-content: center;
          }
      }

     
      @media screen and (min-width: 768px) {
          .container{
              margin-left: auto;
              margin-right: auto;
          }

          body{
              margin: 0;
          }

          .section{
              padding: 6rem 0 2rem;
          }

          .section__subtitle{
              margin-bottom: 4rem;
          }

          .header{
              top: 0;
              bottom: initial;
          }

          .header,
          .main,
          .footer__container{
              padding: 0 1rem;
          }

          .nav{
              height: 3.5rem;
              column-gap: 1rem;
          }

          .nav__icon,
          .nav__close,
          .nav__toggle{
              display: none;
          }

          .nav__list{
              display: flex;
              column-gap: 2rem;
          }

          .nav__menu{
              margin-left: auto;
          }

          .change-theme{
              margin: 0;
          }

          .home__container{
              row-gap: 5rem;
          }

          .home__content{
            padding-top: 5.5rem;
            column-gap: 2rem;
          }

          .home__blob{
              width: 270px;
          }

          .home__scroll{
              display: block;
          }

          .home__scroll-button{
              margin-left: 3rem;
          }

          .about__container{
              column-gap: 5rem;
          }

          .about__img{
              width: 350px;
          }

          .about__description{
              text-align: initial;
          }

          .about__info{
              justify-content: space-between;
          }

          .about__buttons{
              justify-content: initial;
          }

          .qualification__tabs{
              justify-content: center;
          }

          .qualification__button{
              margin: 0 1rem;
          }

          .qualification__sections{
              grid-template-columns: .5fr;
          }

          .services__container{
              grid-template-columns: repeat(3, 218px);
              justify-content: center;
          }

          .services__icon{
              font-size: 2rem;
          }

          .services__content{
              padding: 6rem 0 2rem 2.5rem;
          }

          .services__modal-content{
              width: 450px;
          }

          .portfolio__img{
              width: 320px;
          }

          .portfolio__content{
              align-items: center;
          }

          .project{
              text-align: initial;
          }

          .project__bg{
              background: none;
          }

          .project__container{
              /* background-color: ; */
              border-radius: 1rem;
              padding: 3rem 2.5rem 0;
              grid-template-columns: 1fr max-content;
              column-gap: 3rem;
          }

          .project__data{
              padding-top: -8rem;
          }

          .footer__container{
              grid-template-columns: 3, 1fr};
          }

          .footer__bg{
              padding: 3rem 0 3.5rem;
          }

          .footer__links{
              flex-direction: row;
              column-gap: 2rem;
          }

          .footer__socials{
               justify-self: flex-end;
          }

          .footer__copy{
              margin-top:4.5rem ;
          }


          /*==========     FOR LARGE SCREENS       ============ */

          @media screen and (min-width: 1024px){
              .header,
              .main,
              .footer__container{
                  padding: 0;
              }

              .home__blob{
                  width: 320px;
              }

              .home__social{
                  transform: translateX(-6rem);
              }

              .services__container{
                  grid-template-columns:repeat(3, 238px) ;
              }

              .portfolio__content{
                  column-gap: 5rem;
              }

              .swiper-portfolio-icon{
                  font-size: 3.5rem;
              }

              .swiper-button-prev{
                  left: -3.5rem;
              }

              .swiper-button-next{
                  right: -3.5rem;
              }

              .swiper-container-horizontal > .swiper-pagination-bullets{
                bottom: -4.5rem;
              }

              .contact__form{
                  width: 460px;
              }

              .contact__inputs{
                  grid-template-columns: repeat(2, 1fr);
              }
          }


    

